@page
@{
    ViewData["Title"] = "Benvenuto in UniBiblio";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto in UniBiblio!</h1>
    <p class="lead">Gestisci le tue letture e prenota le aule studio in modo semplice e veloce.</p>

    <hr class="my-4" />

    <p>
        <a class="btn btn-primary btn-lg" href="/Account/Login" role="button">Login</a>
        <a class="btn btn-secondary btn-lg" href="/Account/Register" role="button">Registrati</a>
    </p>
</div>