@{
    Layout = "../Shared/_Layout";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Benvenuti su UniBiblio</h1>
    <p class="lead">Il tuo portale per prenotare libri e sale studio nel complesso delle nostre biblioteche.</p>
    <hr class="my-4">
    <p>Utilizza i pulsanti qui sotto per iniziare.</p>
    <div class="mt-4">
        <a href="@Url.Action("PrenotaLibri", "UserDashboard")" class="btn btn-primary btn-lg mx-2" role="button">Prenota un Libro</a>
        <a href="@Url.Action("PrenotaSale", "UserDashboard")" class="btn btn-success btn-lg mx-2" role="button">Prenota una Sala Studio</a>
    </div>
</div>

