@{
    Layout = "../Shared/_Layout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Pannello Amministratore</h2>
<a href="@Url.Action("Analytics", "AdminDashboard")" class="btn btn-primary btn-lg mx-2" role="button">Facciamo un paio di analitics daei</a>